@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background: #f3f4f6;
  color: var(--foreground);
  font-family: var(--font-inter);
}

.logo {
  font-family: var(--font-island-moments);
  text-transform: capitalize;
  color: #ff7a1b;
  font-size: 42px;
  font-weight: 400;
}

.continue-with-buttons button {
  font-family: var(--font-roboto);
  font-size: 14px;
}

.login {
  background-image: url("/images/sign-image.png");
  background-size: cover;
  background-position: center;
}

.hero-section {
  background-image: url("/images/hero-background.png");
  background-size: cover;
  background-position: center;
}

.explore-page {
  background-image: url("/images/hero-image.jpg");
  background-size: cover;
  background-position: center;
}

.pre-footer {
  position: relative;
  background-image: url("/images/prefooter.png");
  background-size: cover;
  background-position: center;
}

.footer-logo {
  font-family: var(--font-island-moments);
}

.footer-headings {
  font-family: var(--font-jost);
}

.footer-body {
  font-family: var(--font-poppins);
}
